@model IEnumerable<ClientePapeleria.Models.ResumenMovimientos>

@{
    ViewData["Title"] = "ResumenCantMovimientos";
}

<h1>Resumen Cantidad de Movimientos</h1>
<hr />
<partial name="_Mensajes" />
<div class="row">
	<div class="col-md-8">
		<table class="table">
			<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Anio)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TipoMovimientoId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CantidadTotal)
				</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Anio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TipoMovimientoId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CantidadTotal)
					</td>

				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

